$mainColor: #7F48D1;
$secondaryColor: #F0E5FF;
$thirdColor: #79859D;
$titleColor: #141B2E;
$textColor: #545C64;
$favoriteColor: #FF4757;
$unfavoriteColor: #1F1F1F;
$readingBtnBg: #F27D35;
$completedBtnBg: #81E55D;
$completedBtnText: #286911;
$toReadBtnBg: #3586F1;
$paginationColor: #212427;
$iconColor: #64748B;
$dropdownHoverBg: #EEF0F4;
$successTextColor: #097C69;
$successBgColor: #E3FBF2;
$buttonHover: #512593;
$paginationTextColor: #8b9096;
$placeholderTextColor: #8b9096;